<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- In memory store -->
	<bean id="storage" class="com.epam.cdp.anton.krynytskyi.domain.store.BookingStoreImpl" scope="singleton"/>

	<!-- In memory store dao -->
	<bean id="eventDAOStore" class="com.epam.cdp.anton.krynytskyi.domain.dao.store.EventDAOStore" scope="singleton">
		<property name="bookingStore" >
			<ref local="storage"/>
		</property>
	</bean>

	<bean id="ticketDAOStore" class="com.epam.cdp.anton.krynytskyi.domain.dao.store.TicketDAOStore" scope="singleton">
		<property name="bookingStore" >
			<ref local="storage"/>
		</property>
	</bean>

	<bean id="userDAOStore" class="com.epam.cdp.anton.krynytskyi.domain.dao.store.UserDAOStore" scope="singleton">
		<property name="bookingStore" >
			<ref local="storage"/>
		</property>
	</bean>

	<!-- In memory store services-->
	<bean id="eventServiceStore" class="com.epam.cdp.anton.krynytskyi.domain.services.EventServiceStore" scope="singleton">
		<property name="eventDAO" >
			<ref local="eventDAOStore"/>
		</property>
	</bean>

	<bean id="ticketServiceStore" class="com.epam.cdp.anton.krynytskyi.domain.services.TicketServiceStore" scope="singleton">
		<property name="ticketDAO" >
			<ref local="ticketDAOStore"/>
		</property>
	</bean>

	<bean id="userServiceStore" class="com.epam.cdp.anton.krynytskyi.domain.services.UserServiceStore" scope="singleton">
		<property name="userDAO" >
			<ref local="userDAOStore"/>
		</property>
	</bean>

	<!-- In memory store facade-->
	<bean id="bookingFacadeImpl" class="com.epam.cdp.anton.krynytskyi.domain.facade.BookingFacadeImpl">
		<constructor-arg type="com.epam.cdp.anton.krynytskyi.api.services.EventService" >
			<ref local="eventServiceStore"/>
		</constructor-arg>
		<constructor-arg type="com.epam.cdp.anton.krynytskyi.api.services.TicketService" >
			<ref local="ticketServiceStore"/>
		</constructor-arg>
		<constructor-arg type="com.epam.cdp.anton.krynytskyi.api.services.UserService" >
			<ref local="userServiceStore"/>
		</constructor-arg>
	</bean>

</beans>